<h1>Restaurants</h1>



<% @restaurants.each do |r|%>
  <div class='col-md-4'>
    <h2> <%= r.name %> </h2>
      <%= link_to 'edit', edit_restaurant_path(r), class: 'btn btn-primary'%>
      <%= link_to 'delete', restaurant_path(r), :method => :delete, data:{confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
      <%=link_to 'add review', new_restaurant_review_path(r), class:'btn btn-success'%>
      <br>
      <h3><%= star_rating(r.average_rating) %></h3>
    </div>
<%end%>

